@import url(//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css);
@import url(//cdn.jsdelivr.net/npm/bulma-checkradio@2.1.0/dist/css/bulma-checkradio.min.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    font-family: 'Spoqa Han Sans', sans-serif;
}

#top-section {
    padding-bottom: 0;
}

#main-section {
    padding-top: 30px;
}

.checkbox-div {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    height: 4.25rem;
}

.box {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.is-checkradio[type=checkbox]+label::before, .is-checkradio[type=checkbox]+label:before, .is-checkradio[type=radio]+label::before, .is-checkradio[type=radio]+label:before {
    top: auto;
}

#submit-main-form {
    margin-left: 0.7rem;
}

.timetable-cell {
    text-align: center;
    vertical-align: middle !important;
    width: 99px;
    height: 89px;
}

.empty-lesson {
    background-color: #9197b5;
}

.house-lesson {
    background-color: hsl(141, 71%, 48%);
}
