@import url(bulma/css/bulma.min.css);
@import url(bulma-checkradio/dist/css/bulma-checkradio.min.css);
@import url(bulma-switch/dist/css/bulma-switch.min.css);
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

@media all and (min-width: 800px) {
    html {
        font-size: 15px;
    }
}

@media all and (max-width: 800px) {
    html {
        font-size: 3vw;
    }

    section {
        padding-left: 3.5vw !important;
        padding-right: 3.5vw !important;
    }

    .timetable-cell {
        width: 17.5vw !important;
    }

    .timetable-left {
        width: 5.5vw !important;
    }
}

* {
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.overflow-logo {
    height: 1.75em;
}

.checkbox-div {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    height: 4.25em;
}

#main-form-box {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
}

#submit-main-form {
    margin-left: 0.7em;
}

.class-time-info {
    vertical-align: middle;
    margin-left: 1em;
}

.main-form-divider {
    margin: 0.5em 0;
}

.checkbox-label {
    opacity: 1 !important;
}

input[disabled] + .checkbox-label::before {
    top: auto;
    opacity: .5;
}

.timetable-cell {
    text-align: center !important;
    vertical-align: middle !important;
    width: 10em;
    height: 6em;
    padding: .2em .2em !important;
}

.timetable-top {
    text-align: center !important;
    vertical-align: middle !important;
    width: 1em;
    height: 3em;
    padding: .2em .2em !important;
}

.timetable-left {
    text-align: center !important;
    vertical-align: middle !important;
    width: 3em;
    height: 6em;
    padding: .2em .2em !important;
}

.timetable-top-left {
    text-align: center !important;
    vertical-align: middle !important;
    width: 1em;
    height: 3em;
    padding: .2em .2em;
}

#kj-colors-label {
    vertical-align: middle;
    margin-left: 2em;
    padding-top: 0;
}

.kj-color * {
    border-color: black !important;
}
